<nav data-th-fragment="breadcrumb" data-th-if="${breadcrumbs}" role="navigation">
	<ol class="breadcrumb-menu">
		 <li data-th-each="item, iterStat : ${breadcrumbs.items}" data-th-class="
			  ${item.active ? 'active' : ''} +
			  ${iterStat.first ? ' first' : ''} +
			  ${iterStat.last ? ' last' : ''}
		 ">
			 <a href="/" data-th-if="${item.url}" data-th-href="${item.url}" data-th-text="${item.title}">Home</a>
			 <span data-th-unless="${item.url}" data-th-text="${item.title}" data-th-remove="tag">Home</span>
			 <div data-th-remove="tag" data-th-if="${breadcrumbs.divider} and !${iterStat.last}" data-th-utext="${breadcrumbs.divider}"></div>
		 </li>
	</ol>
</nav>
