<ul class="main-nav visible-md-block visible-lg-block">
	<!--/*
		INFO: Remove the comment around this block to add a "Home" link first in the menu.

	<li data-th-classappend="${(site._path == content._path ? 'page_item active' : 'page_item')}">
		<a data-th-href="${portal.pageUrl({'_path=' + site._path})}" href="/">
			Home
		</a>
	</li>
	*/-->
	<li data-th-each="menuItem : ${menuItems}"
		data-th-class="${(menuItem.path == content._path || menuItem.path == parentpath ? 'page_item active' : 'page_item')}"
		data-th-classappend="${menuItem.hasChildren ? 'has-children' : ''}">
		<a href="#"
			data-th-href="${portal.pageUrl({'_path=' + menuItem.path})}"
			data-th-text="${menuItem.menuName} ?: ${menuItem.displayName}"
			data-th-target="${menuItem.type == appName + ':url' ? '_blank' : ''}">Page</a>
		<ul data-th-if="${menuItem.hasChildren}" class="menu-level-2">
			<li data-th-each="submenuItem : ${menuItem.children}">
				<a href="#" data-th-href="${portal.pageUrl({'_path=' + submenuItem.path})}"
					data-th-text="${submenuItem.menuName} ?: ${submenuItem.displayName}"
					data-th-class="${submenuItem.path == currentPath ? 'active' : ''}"
					data-th-target="${submenuItem.type == appName + ':url' ? '_blank' : ''}">Page title</a>
				<ul data-th-if="${submenuItem.hasChildren}" class="menu-level-3">
					<li data-th-each="submenuItem3 : ${submenuItem.children}">
						<a href="#" data-th-href="${portal.pageUrl({'_path=' + submenuItem3.path})}"
							data-th-text="${submenuItem3.menuName} ?: ${submenuItem3.displayName}"
							data-th-class="${submenuItem3.path == currentPath ? 'active' : ''}"
							data-th-target="${submenuItem3.type == appName + ':url' ? '_blank' : ''}">Page title</a>
							<ul data-th-if="${submenuItem3.hasChildren}" class="menu-level-4">
								<li data-th-each="submenuItem4 : ${submenuItem3.children}">
									<a href="#" data-th-href="${portal.pageUrl({'_path=' + submenuItem4.path})}"
										data-th-text="${submenuItem4.menuName} ?: ${submenuItem4.displayName}"
										data-th-class="${submenuItem4.path == currentPath ? 'active' : ''}"
										data-th-target="${submenuItem4.type == appName + ':url' ? '_blank' : ''}">Page title</a>
								</li>
							</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>
