<nav>
	<ul class="menu-main">
		<!--/*
			INFO: Remove the comment around this block to add a "Home" link first in the menu.
			For this to work you must send in two parameters:
				* site = portal.getSite();
				* content = portal.getContent();

		<li data-th-class="${(site._path == content._path ? 'page_item active' : 'page_item')}">
			<a data-th-href="${portal.pageUrl({'_path=' + site._path})}" href="/">
				Home
			</a>
		</li>
		*/-->
		<li data-th-each="menuItem : ${menuItems}"
			data-th-class="${
				'page_item' +
				(menuItem.hasChildren ? ' has-children' : '') +
				(menuItem.inPath ? ' in-path' : '') +
				(menuItem.isActive ? ' active' : '')
			}">
			<a href="#" data-th-href="${portal.pageUrl({'_path=' + menuItem.path})}"
				data-th-text="${menuItem.menuName} ?: ${menuItem.displayName}"
				data-th-target="${menuItem.newWindow ? '_blank' : ''}">Page</a>
		</li>
	</ul>
</nav>
